<ul class="card-set">
{{#each this}}
<li class="item">
  <article class="card">

  <div class="card-thumb">
      <a class="card-thumb__item" href="{{largeImageURL}}">
        <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" />
      </a>
  </div>

  <div class="card-info">
    <p class="info-item">
      <span>
        <img src="https://raw.githubusercontent.com/zpengineer/goit-js-hw-11/main/src/img/fire.png" width="25" height="30" alt="">
      </span>
      <b>{{likes}}</b>
    </p>
    <p class="info-item">
      <span>
        <img src="https://raw.githubusercontent.com/zpengineer/goit-js-hw-11/main/src/img/view.png" width="30" height="30" alt="">
      </span>
      <b>{{views}}</b>
    </p>
    <p class="info-item">
      <span>
        <img src="https://raw.githubusercontent.com/zpengineer/goit-js-hw-11/main/src/img/comment.png" width="30" height="30" alt="">
      </span>
      <b>{{comments}}</b>
    </p>
    <p class="info-item">
      <span>
        <img src="https://raw.githubusercontent.com/zpengineer/goit-js-hw-11/main/src/img/rocket.png" width="30" height="30" alt="">
      </span>
      <b>{{downloads}}</b>
    </p>
  </div>

</article>
</li>
{{/each}}
</ul>
